[Unit]
Description=register sensors to a Manager

[Service]
User=root
ExecStartPre=/bin/bash -c "if [ ! -f /etc/rb-uuid ]; then export HASH=$(cat /proc/sys/kernel/random/uuid); echo $HASH  > /etc/rb-uuid; echo HASH=\"$HASH\" >> /etc/sysconfig/rb-register; fi"
EnvironmentFile=/etc/sysconfig/rb-register
Environment="SLEEP=30"
ExecStart=/usr/bin/rb_register -url "$URL" -sleep $SLEEP -type proxy -hash "$HASH" -script "$SCRIPT" -cert /etc/chef/client.pem -db /etc/rb-register.db -nodename /etc/chef/nodename -log finish.log $OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
